:root {
 font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(36, 36, 36, 0.87);
  background-color: #f6efef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: black;
}
h1{
  font-weight: 500;
font-size: 48px;
line-height: 117%;
letter-spacing: -0.02em;
color: #121417;
}
p{
  font-weight: 400;
font-size: 16px;
line-height: 138%;
letter-spacing: -0.02em;
color: #121417;
}

